<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <style type="text/css">

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>
<h1 id="session">Session</h1>
<div id="logout">
    <input id="logout" type="button" value="Logout" />
</div>
<br>
<br>
  <label>TeamName</label>
  <input id="name" name="title" type="text"/><br>

  <div id="create">
    <input id="createButton" type="button" value="Create" />
  </div>
  <br>
  <br>
  <select id="player">
    <option></option>
  </select>
  <br>
  <div id="display">
    <input id="displayButton" type="button" value="Display" />
  </div>
  <br>
  <ul id="playerStats"></ul>


	<script src="js/session.js"></script>

  </body>
</html>
